.gradle/
build/
out/
classes/
runs/
.idea/
*.iml
*.ipr
*.iws
.vscode/
eclipse/
bin/
eclipse/
.classpath
.project
.settings/
*.launch
.classpath
.project
.settings/
src/generated/
config/
run/
logs/
crash-reports/
options.txt
usercache.json
usernamecache.json
